@font-face {
    font-family: 'Excelorate';
    src: url('ExcelorateRegular.eot');
    src: url('ExcelorateRegular.eot?#iefix') format('embedded-opentype'),
        url('ExcelorateRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Excelorate';
    src: url('ExcelorateRegular.eot');
    src: url('ExcelorateRegular.eot?#iefix') format('embedded-opentype'),
        url('ExcelorateRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

